{:server "irc.libera.chat"
 :nick "bayaz"
 :pass nil
 :real-name "Bayaz"
 :command-prefix "!"
 :quit-message "Power makes all things right. That is my first law, and my last. That is the only law that I acknowledge."
 :primary-channel "##programming"
 :additional-channels ["##programming-ops"]
 :admins #{"jeaye" "inphase" "arahael" "mrig" "vdamewood" "pulse" "deniska" "amigojapan" "oldlaptop" "merijn"}
 :features #{:admin :bayaz-command :ops-command :title-fetch}}
