{:server "irc.libera.chat"
 :nick "bayaz"
 :pass nil
 :real-name "Bayaz"
 :command-prefix "!"
 :quit-message "Power makes all things right. That is my first law, and my last. That is the only law that I acknowledge."
 :channels {"##programming" {:admins #{"jeaye" "inphase" "arahael" "vdamewood" "metayeti" "deniska" "amigojapan" "merijn" "edfletcher"}
                             :features #{:admin :bayaz-command :ops-command :title-fetch}}
            "##programming-ops" {:features #{:admin :bayaz-command :ops-command :title-fetch}
                                 :feature/admin-remote-for "##programming"}
            "#clojure" {:admins #{"jeaye" "technomancy" "ridcully"}
                        :features #{:admin :bayaz-command :ops-command :title-fetch :clojure-eval}
                        :feature/clojure-eval-prefix ","}
            ;"#linux" {}
            ;"#libera" {}
            }
 :gist-token nil}
